<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, index : ${productList}">
        <td>
            <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.subject}"></a>
        </td>
        <td th:text="${product.createDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>